.style-title {
  color: var(--primary-color);
}

.style-base {
  color: black;
}

.style-pending {
  color: red;
}

.style-complete {
  color: green;
}

.style-highlight {
  background-color: yellow;
}

.style-red {
  color: red;
}

.style-border {
  padding: 24px 12px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
}
