.style-title {
  color: var(--primary-color);
}

.style-base {
  color: black;
}

.style-pending {
  color: red;
}

.style-complete {
  color: green;
}

.style-highlight {
  background-color: yellow;
}

.style-red {
  color: red;
}
